@font-face {
  font-family: "Proxima Nova Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), local("Proxima Nova Regular"),
    url("../../fonts/ProximaNova-Regular.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"), local("Proxima Nova Bold"),
    url("../../fonts/ProximaNova-Bold.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  src: local("ProximaNova-Semibold"), local("ProximaNova-Semibold"),
    url("../../fonts/ProximaNova-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Semibold It";
  font-style: normal;
  src: local("ProximaNova-SemiboldIt"), local("ProximaNova-SemiboldIt"),
    url("../../fonts/ProximaNova-SemiboldIt.woff") format("woff");
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  src: local("ProximaNova-Extrabld"), local("ProximaNova-Extrabld"),
    url("../../fonts/ProximaNova-Extrabld.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy Regular"), local("Gilroy Regula"),
    url("../../fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy Bold"),
    url("../../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Gilroy Bold"), local("Gilroy Bold"),
    url("../../fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Extra Bold";
  font-style: normal;
  src: local("Gilroy-ExtraBold"), local("Gilroy-ExtraBold"),
    url("../../fonts/Gilroy-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/bebas_neue_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bebas_neue_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}
@font-face {
	font-family: 'Proxima Nova Regular Italic';
	src: url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/ProximaNova-RegularIt .woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
}
