//Color
$main-color:#FEE040;
$second-color: #151515;
$color-with: #fff;
$color-text-quote: #707070;
$color-text-check: #333333;

// Fonts
$mainFont: "Proxima Nova Regular";
$mainFontBold: "Proxima Nova Bold";
$secondFont: "Gilroy Regular";
$titleFont: "Gilroy Extra Bold";
$secondFontBold: "Gilroy Bold";
$priceFontTitle: "Playfair Display Bold Italic";
$priceFontConditions: "Proxima Nova Semibold";
$priceFontCost: "Proxima Nova Extrabold";
$textItalic: "Proxima Nova Semibold It";
$textQuote: 'Bebas Neue Bold';
$mainFontItalic: 'Proxima Nova Regular Italic';